@model IEnumerable<OdeFood.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

@*The difference here between using get as a method instead of post, 
    because get shows the parameters in the url while post does not*@
<form action="/" method="post">
    @*name has to be the same as the parameter name as ASP.NET would be able to match the params*@
    <input type="text" name="searchTerm" value="" />
    <input type="submit" name="value" value="Search By Name" />
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>@item.CountOfReviews</div>

    </div>
}